<div class="row">
<div class="medium-6 columns">
<%= form_for(@project_issue) do |f| %>
  <% if @project_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_issue.errors.count, "error") %> prohibited this project_issue from being saved:</h2>

      <ul>
      <% @project_issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :label => 'Issue Name', :required => true, :placeholder => "Enter the Name of the Issue" %>
  </div>
  <div class="field">
    <%= f.label :project_id, "Select Project" %>
    <%= f.collection_select :project_id, Project.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.text_area :summary, :label => 'Description of Issue', :required => true, :placeholder => "Detailed Description of the Issue " %>
  </div>

 <fieldset>
<legend>Priority and Status</legend>
  <div class="field">
    <%= f.select "priority", "<option>Low</option><option>Medium</option><option>High</option>".html_safe %>
  </div>
<br />
  <div class="field">
    <%= f.select "status", "<option>Open</option><option>In Progress</option><option>Closed</option>".html_safe %>
</div>
 </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br />
<% end %>
</div>
</div>
