<div class="row">
<div class="large-10 columns">
<h1>Listing project_issues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code lang</th>
      <th>Project</th>
      <th>Summary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_issues.each do |project_issue| %>
      <tr>
        <td><%= project_issue.name %></td>
        <td><%= project_issue.code_lang_id %></td>
        <td><%= project_issue.project_id %></td>
        <td><%= project_issue.summary %></td>
        <td><%= link_to 'Show', project_issue %></td>
        <td><%= link_to 'Edit', edit_project_issue_path(project_issue) %></td>
        <td><%= link_to 'Destroy', project_issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project issue', new_project_issue_path, :class => 'small button' %>
</div>
</div>