<% breadcrumb :project_issues %>
<div class="row">
<div class="large-5 columns">
<div class="panel callout radius">
<p>
  <strong>Issue Name:</strong>
  <%= @project_issue.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= Project.find(@project_issue.project_id).name %>
</p>

<p>
  <strong>Description of Issue:</strong>
  <%= @project_issue.summary %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @project_issue.priority %>
</p>

<p>
  <strong>Current Status:</strong>
  <%= @project_issue.status %>
</p>

<ul class="button-group">
<li><%= link_to 'Edit', edit_project_issue_path(@project_issue), :class => 'tiny button success' %></li>
<li><%= link_to 'Back', project_issues_path, :class => 'tiny button success' %></li>
</ul>
</div>
</div>
</div>
