<%= form_for(coding_lang) do |f| %>
  <% if coding_lang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coding_lang.errors.count, "error") %> prohibited this coding_lang from being saved:</h2>

      <ul>
      <% coding_lang.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
