<div class="row">
<div class="medium-6 columns">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.text_field :name, :label => 'Project Name', :required => true, :placeholder => "Name of Project" %>
  </div>
    <div class="field">
    <%= f.text_field :notes, :label => 'Project Summary', :required => true, :placeholder => "Enter a Short Summary" %>
  </div>
  <div class="field">
    <%= f.label :product_id, "Select the type of Project" %>
    <%= f.collection_select :product_id, Product.all, :id, :name, :include_blank => false, :required => true %>
  </div>
    <div class="field">
    <%= f.label :code_lang_id, "Select the Development language" %>
    <%= f.collection_select :code_lang_id, CodingLang.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.text_area :description, :label => 'Project Description', :required => true, :placeholder => "Enter the details about your Project." %>
  </div>

 <fieldset>
<legend>Project Dates</legend>
  <div class="field">
      <%= f.label :start_date, "Start Date" %>
      <div class="row date collapse" id="dp1" data-date="" data-date-format="dd-mm-yyyy">
      <span class="prefix end"><input size="16" type="text" placeholder="Click to Set or Change Date" name="project[start_date]" readonly></span>
      </div>
  </div>
<br />
<br />
 <div class="field">
    <%= f.label :end_date, "Estimated End Date" %>
      <div class="row date collapse" id="dp2" data-date="" data-date-format="dd-mm-yyyy">
      <span class="prefix end"><input size="16" type="text" placeholder="Click to Set or Change Date" name="project[end_date]" readonly></span>
      </div>
 </div>
 </fieldset>
  <br />
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
  <br />
<% end %>
</div>
</div>