<div class="row">
<div class="medium-6 columns">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel">
<div class="row date collapse" id="dp1" data-date="03-21-2014" data-date-format="dd-mm-yyyy">
<input class="small-3 columns" size="16" type="text" value="03-21-2014" readonly> <span class="prefix small-2 columns end"><i class="fi-calendar"></i></span>

</div>
</div>

  <div class="field">
    <%= f.text_field :name, :label => 'Project Name', :required => true, :placeholder => "Name of Project" %>
  </div>
    <div class="field">
    <%= f.text_field :notes, :label => 'Project Summary', :required => true, :placeholder => "Enter a Short Summary" %>
  </div>
  <div class="field">
    <%= f.label :product_id, "Select the type of Project" %>
    <%= f.collection_select :product_id, Product.all, :id, :name, :include_blank => false, :required => true %>
  </div>
    <div class="field">
    <%= f.label :code_lang_id, "Select the Development language" %>
    <%= f.collection_select :code_lang_id, CodingLang.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.text_area :description, :label => 'Project Description', :required => true, :placeholder => "Enter the details about your Project." %>
  </div>
    <fieldset>
    <legend>Select the Start and Estimated End Date</legend>
  <div class="field">
    <%= f.text_field :start_date, id: "dp1", value: "31.01.2014" %>

    <%= f.date_select :end_date %>
  </div>
  </fieldset>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
  <br />
<% end %>
</div>
</div>