<div class="row">
<div class="medium-6 columns">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :required => true, :placeholder => "Name of Project" %>
  </div>
  <div class="field">
    <%= f.label :product_id, "Select the type of Product" %>
    <%= f.collection_select :product_id, Product.all, :id, :name, :required => true %>
  </div>
    <fieldset>
    <legend>Select the Start and Estimated End Date</legend>
  <div class="field">
    <%= f.date_select :start_date %>


    <%= f.date_select :end_date %>
  </div>
  </fieldset>
  <div class="field">
    <%= f.text_area :notes, :placeholder => "Enter details about your project here" %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
  <br />
<% end %>
</div>
</div>