<% breadcrumb :projects, @projects %>
<div class="row">
<div class="large-10 columns">
<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Product</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.product_id %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.notes %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-right radius" title="Tooltips are awesome, you should totally use them!">extended information</span>
<br />
<br />
<%= link_to 'Create a new Project', new_project_path, :class => 'small button' %>
</div>
</div>
