<% breadcrumb :projects, @projects %>
<br />
<div class="row">
<!-- Left Section -->
<div class="large-6 columns">
<h3><span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top radius" title="Click on the <b>Project name</b> for more details."><i class="fi-puzzle"></i> My Project Dashboard</span></h3>
<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Project Type</th>
      <th>Language</th>
      <th>Project Summary</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= Product.find(project.product_id).name %></td>
        <td><%= CodingLang.find(project.code_lang_id).name %></td>
        <td><%= project.notes %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<%= link_to 'Create a new Project', new_project_path, :class => 'small button radius' %>
</div>
<!-- Right Section -->
<div class="large-6 columns">
<h3><span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top radius" title="Click on the <b>Issue Name</b> for more details."><i class="fi-alert"></i> Open Issues</span></h3>
<table>
  <thead>
    <tr>
      <th>Issue Name</th>
      <th>Related Project</th>
      <th>Priority</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @project_issues.each do |project_issue| %>
      <tr>
        <td><%= link_to project_issue.name, project_issue %></td>
        <td><%= Project.find(project_issue.project_id).name %></td>
        <td><%= project_issue.priority.humanize %></td>
        <td><%= project_issue.status.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<br />
</div>
</div>
</div>