<% breadcrumb :projects, @projects %>
<br />
<div class="row">
<!-- Left Section -->
<div class="large-8 columns">
<h3><span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top radius" title="Click on the <b>Project name</b> for more details.">Project Dashboard</span></h3>
<table>
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Project Type</th>
      <th>Development Language</th>
      <th>Project Summary</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= Product.find(project.product_id).name %></td>
        <td><%= CodingLang.find(project.code_lang_id).name %></td>
        <td><%= project.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />
<%= link_to 'Create a new Project', new_project_path, :class => 'small button' %>
</div>

<!-- Right Section -->
<div class="large-4 columns">
<span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-right radius" title="Tooltips are awesome, you should totally use them!">extended information</span>
<br />
<br />
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
</div>
