<% breadcrumb :projects, @project.name %>
<div class="row">
<div class="large-5 columns">
<div class="panel callout radius">
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @project.product_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @project.notes %>
</p>
<ul class="button-group">
<li><%= link_to 'Edit', edit_project_path(@project), :class => 'tiny button success' %></li>
<li><%= link_to 'Back', projects_path, :class => 'tiny button success' %></li>
</ul>
</div>
</div>
</div>
