<% breadcrumb :project_overview, @project.name %>
<div class="row">
<div class="medium-6 columns">
<h3><i class="fi-magnifying-glass"></i> Project Overview</h3>
<div class="panel callout radius">
<p>
  <strong>Project Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Project Summary:</strong>
  <%= @project.notes %>
</p>

<p>
  <strong>Project Type:</strong>
  <%= Product.find(@project.product_id).name %>
</p>

<p>
  <strong>Development Language:</strong>
  <%= CodingLang.find(@project.code_lang_id).name %>
</p>

<p>
  <strong>Project Description:</strong>
  <%= simple_format(@project.description) %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>
<ul class="button-group">
<li><%= link_to 'Edit Project', edit_project_path(@project), :class => 'tiny button success radius' %></li>
<li><%= link_to 'Back', projects_path, :class => 'tiny button success radius' %></li>
<li><%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny button alert radius' %></li>
</ul>
</div>
<br />
<br />
</div>
<div class="medium-6 columns">
<h3><span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top radius" title="Click on the <b>Issue Name</b> for more details."><i class="fi-alert"></i> Project Issues</span></h3>
<table>
  <thead>
    <tr>
      <th>Issue Name</th>
      <th>Related Project</th>
      <th>Priority</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @project_issues.each do |project_issue| %>
      <tr>
        <td><%= link_to project_issue.name, project_issue %></td>
        <td> <%= Project.find(project_issue.project_id).name %></td>
        <td><%= project_issue.priority.humanize %></td>
        <td><%= project_issue.status.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<br />
<br />
</div>