<% breadcrumb :project_overview, @project.name %>
<div class="row">
<div class="medium-6 columns">
<div class="panel callout radius">
<fieldset>
<legend>Project Overview</legend>
<p>
  <strong>Project Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Project Summary:</strong>
  <%= @project.notes %>
</p>

<p>
  <strong>Project Type:</strong>
  <%= Product.find(@project.product_id).name %>
</p>

<p>
  <strong>Development Language:</strong>
  <%= CodingLang.find(@project.code_lang_id).name %>
</p>

<p>
  <strong>Project Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>
</fieldset>
<ul class="button-group">
<li><%= link_to 'Edit Project', edit_project_path(@project), :class => 'tiny button success radius' %></li>
<li><%= link_to 'Back', projects_path, :class => 'tiny button success radius' %></li>
<li><%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny button alert radius' %></li>
</ul>
</div>
</div>
</div>
