<div class="row">
<div class="large-6 columns"> 
<%= form_for @message, :url => contact_path do |form| %>
<fieldset class="fields">
<div class="field">
<%= form.text_field :name %>
</div>
<div class="field">
<%= form.text_field :email %>
</div>
<div class="field">
<%= form.text_field :subject %>
</div>
<div class="field">
<%= form.text_area :body %>
</div>
</fieldset>
<fieldset class="actions">
<%= form.submit "Send" %>
</fieldset
<% end %>
</div>
</div>