<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Found" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Found" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <script>
        $(document).foundation({
            orbit: {
                timer: true,
                animation: 'slide',
                timer_speed: 5500,
                pause_on_hover: false,
                resume_on_mouseout: true,
                animation_speed: 2400,
                navigation_arrows: true,
                bullets: true,
                fluid: true,
                next_on_click: true
            }
        });
    </script>
  </body>
</html>
